@charset "UTF-8";

/*
 em HTML é id = em CSS é # (só pode um elemento)
 em HTML é class = em CSS é . (pode vários elementos)
*/
body {
    background-color:#5DD471;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #033f00;
}
h1#principal {
    text-align: center;
    background-color:#449140; 
    color:  white;
}
h2 {
    color: #036908;
    
}
.basico {
    color:  #036908;
}
.intermediario{
    color:   #696703;
}
.avancado{
    color:  #691203;
}
.destaque{
    background-color: #b6b6609f;
}
